
<h3 class = "bg-info m-4 ">table of skillsets</h3>
<ul class="list-group mb-10">
    <li class="list-group-item" *ngFor=" let skill of skillArray " [ngStyle]="{backgroundColor :bgcolor()}">
        i have hands on experience with  {{skill}}
    </li>
</ul>

<h4 class=" m-4" [ngClass]="{
    'bg-info' : isSkill,
    'text-white' : isSkill
}"> Primary skill Set</h4>
<ul class="list-group">
    <li class="list-group-item" *ngFor=" let skill of primarySkillArray" [ngStyle]="{backgroundColor : getcolor()}">
       i have good knowledge of {{skill}}
    </li>
</ul>
<!-- <button class="btn btn-primary">submit</button> -->
